body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}
.container {
    margin: 50px auto auto;
    width: 50%;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #d4d4d4;
}
h1 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    margin-top: 20px;
}
input[type="email"] {
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 3px 0px #d4d4d4;
}
button[type="submit"] {
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 3px 0px #d4d4d4;
}
button[type="submit"]:hover {
    background-color: #3e8e41;
}
a {
    text-decoration: none;
    color: #29c5eb;
}
a:hover {
    color: #2e6da4;
}