main {
    max-width: 1220px;
    margin: 0 auto;
    padding: 20px;
}
section {
    margin-bottom: 4rem;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.article {
    background-color: #f4f4f4;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px #ccc;
}
.article h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.card {
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px #ccc;
    border-radius: .5rem;
    overflow: hidden;
}
.card img {
    display: block;
    height: 150px;
    object-fit: cover;
}
.card h3 {
    font-size: 1.5rem;
    margin: 1rem;
}
.card p {
    margin: 1rem;
}
#hero {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url('https://www.helloimg.com/images/2023/06/03/om6omc.png');
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}
#hero h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
#hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

footer {
    background-color: #eee;
    padding: 10px;
    text-align: center;
}